*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/background2.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x; /* Repeat the background image only horizontally */
    transform: scaleX(-1); /* Mirror the background image horizontally */
    z-index: -1; /* Place it behind the content */
}

header {
    position: relative;
}

* {
    padding: 0;
    margin: 0;
    font-family: monospace;
}

ul {
    list-style: none;
    background: #708090;
    /*#ef8073*/
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background: #708090;
    position: absolute;
    z-index: 999;
    display: none;

}

ul li a:hover {
    background: #536878;
}

ul li:hover ul.dropdown {
    display: block;
}

.bottom-section {
    background-color: #708090;
    padding: 20px; /* Adjust padding as needed */
    color: #fff; /* Text color for the bottom section */
    display: flex;
    justify-content: space-between; /* Add this to space content at the ends */
    align-items: inherit;
}

.payment-methods img {
    width: auto;
    height: 30px; /* Allow the height to adjust according to the width */
}

.bottom-content {
    max-width: 60%; /* Adjust the width of the content container */
    margin: 0 auto; /* Center the content */
}

/* Additional styles for the text if needed */
.bottom-content h2 {
    font-size: 24px;
}

.bottom-content p {
    font-size: 14px;
}

.highlight-section .info-text h2 {
    background-color: yellow;
}